<div id="timeline-embed"></div>
<script type="text/javascript">
    var timeline_config = {
        width: "100%",
        height: "100%",
        source: '/api/photo',
        start_at_end: true,
        hash_bookmark: true,
        font: 'Bevan-PotanoSans',
        debug: true,
        css: '/Scripts/TimeLine/css/timeline.css',
        js: '/Scripts/TimeLine/js/timeline.js'
    }
</script>
<script type="text/javascript" src="@Url.Content("/Scripts/TimeLine/js/storyjs-embed.js")"></script>